In [ ]:
# List:
l = [1, 1, 2, "saeid"]

In [ ]:
l[1]=4
l

In [ ]:
# Tuple
t = (1, 2, "saeid")

In [ ]:
t[1] = 4  #'tuple' object does not support item assignment

In [11]:
# Set
s ={1, 1, 2, 1, 2, 3, 3, "saeid"}

In [12]:
s

{1, 2, 3, 'saeid'}

In [ ]:
# Dictionary
d = {
    "Ali": 22,
    "Saeid": 45,
    "Nina": 37
}

In [ ]:
d["Nina"]

In [ ]:
list(range(5,15,2))

In [ ]:
[None] * 4

In [ ]:
l = [1,"saeid", [2,"Ali"]]

In [ ]:
l[2][1]

In [ ]:
l[-1]

In [ ]:
l[0::2]

In [ ]:
l = [1,"saeid", [2,"Ali"]]
l.append("Sara")
l.extend(['H1','H2'])
l.insert(1, 111111)     # kolan kare dorosti nist be vasat list ezafe kardan

In [ ]:
l

In [ ]:
l.pop() # remove last element

In [ ]:
l

In [ ]:
del l[1:3]

In [ ]:
l

In [ ]:
dir(l)

In [ ]:
t = (1,)    # tuple ba 1 ozv injori tarif mishe
type(t)

In [ ]:
sorted((8, 0, -5 ,1))   # --> List

[-5, 0, 1, 8]

In [4]:
reversed((8, 0, -5 ,1))

In [5]:
list(reversed((8, 0, -5 ,1)) )

[1, -5, 0, 8]

In [18]:
tt = tuple("Saeid")

In [72]:
ss = dict(saeid=45,country='Iran', heji = tt)

In [73]:
#ss['city']  # Error
ss.get('city', 'Tehran')

'Tehran'

In [74]:
ss.keys()
ss.values()
ss.items()

dict_items([('saeid', 45), ('country', 'Iran'), ('heji', ('S', 'a', 'e', 'i', 'd'))])

In [83]:
ss['city'] = 'Tehran'
ss.update(
    {'saeid':44,
    'status':'Pooooooldar',
    'city':'New York!',
    (1,2): 2
    }
)

In [84]:
ss

{'saeid': 44,
 'country': 'Iran',
 'heji': ('S', 'a', 'e', 'i', 'd'),
 'city': 'New York!',
 'status': 'Pooooooldar',
 (1, 2): 2}

In [85]:
ss.popitem()    # delete last item

((1, 2), 2)

In [86]:
ss

{'saeid': 44,
 'country': 'Iran',
 'heji': ('S', 'a', 'e', 'i', 'd'),
 'city': 'New York!',
 'status': 'Pooooooldar'}

In [88]:
ss.setdefault('status', 'Normal')   # az ghabl bashe dast nemizane dar gheyre in default ro mizare

'Pooooooldar'

In [89]:
ss

{'saeid': 44,
 'country': 'Iran',
 'heji': ('S', 'a', 'e', 'i', 'd'),
 'city': 'New York!',
 'status': 'Pooooooldar'}